<div class="content">
  <div class="container">
    <div id="container">
      <div class="button" id="button-6">
        <div id="spin"></div>
        <a routerLink="/transactions">Transacciones</a>
      </div>

      <div class="button" id="button-6">
        <div id="spin"></div>
        <a routerLink="/budget/expense">Gastos</a>
      </div>

      <div class="button" id="button-6">
        <div id="spin"></div>
        <a routerLink="/budget">Entradas</a>
      </div>
    </div>
<router-outlet></router-outlet>
</div>
</div>